.pf__section {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 8rem;
}

.pf__section-left_text p {
    padding: 2rem 0 2rem 0;
    max-width: 50%;
}

#home {
    width: 100vw;
}

.pf__section-right-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pf__section-right-image img {
    width: 27rem;
    height: 27rem;
}

