.container {
	width: 300px;
	overflow: hidden;
	box-shadow: 0 0 15px -5px ;
	transition: 0.5s ease-in-out;
	background-color: #021121;
	border-radius: 10px;
	&:hover {
		transform: scale(1.1);
	}
}

.image-img {
	transition: 1s ease-in-out;
}
.container:hover .image-img {
	transform: scale(1);
}

.image-container img {
overflow: hidden;
height: 200px;
object-fit: contain;
}

.card-content {
	margin: 1rem;
	margin-top: 0.5rem;

}

h3, p {
	margin: 0;
	padding: 0;
}

.card-title {
	margin-bottom: 0.5rem;
}

.btn {
	display: flex;
	justify-content: center;
	
}

.btn button {
	padding: 0.3rem;
	background-color: white;
	transition: 0.2s;
	border: none;
	margin-bottom: 0.5rem;
	border-radius: 5px;
	&:hover {
		background:linear-gradient(109.6deg, rgb(102, 51, 153) 11.2%, rgb(69, 179, 224) 100.1%);
}
}

.btn:hover .pf__paragraph {
	color: var(--color-text);
	font-weight: 500;
}

.pf__card-container {
	display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
	margin:  0 6rem;
}

.btn a {
	color: #021121;
	font-weight: 600;
}