.pf__footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background-color: var(--color-footer);
    padding: 2rem 8rem 1rem ;

}

.pf__footer-container_content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.pf__footer-icons {
    display: flex;
    align-items: flex-end;
    gap: 40%;
    &:hover {
        color: aqua;
    }
}

#foot {
    padding: 0 ;
}

.pf__footer-container_content-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.pf__footer-container_content-icon h5 {
    font-size:large;
}